html {background:white;}
h1 {width: 500px; margin: 0 auto; font-size: 80px;}
.search {width: 450px; margin: 0 auto; padding-top: 2rem;}
.line {height: 0px; margin: 0 auto; padding-bottom: 5rem; border-bottom: 1px solid #e4e4e4;}
.search input {
	position: relative;
	font-size: 30px;
	width: 400px;
	height: 50px;
	padding: 0;
	border: solid;
	display: inline-block;
	float: left;
}
.search button {
	position: relative;
	width: 200px;
	height: 50px;
	padding: 0;
	display: inline-block;
	float: right;
}
.search input {color:lightgrey;}
.search input::-webkit-input-placeholder {color: lightgrey;}
.search input:-ms-input-placeholder {color: lightgrey;}
.search input:focus + button {
  	-webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.search input:focus + button .fa {
  	-webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	color: #fff;
}
.search button {
  	z-index: 1;
  	width: 50px;
  	border: 0 none;
  	background: skyblue;
  	cursor: pointer;
  	border-radius: 0 5px 5px 0;  
  	-webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fa-search {
  	font-size: 1.4rem;
  	color: #29abe2;
  	z-index: 3;
  	top: 25%;
  	-webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  	-webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.s_category {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	line-height: 0;
	color: #333;
	box-sizing: border-box;
	border-bottom: 1px solid #e4e4e4;
	padding: 25px 0;
	width: 1200px;
	margin: 0 auto
}
.s_category_tit {
	display:inline;
	font-size: 30px;
	padding: 0px 15px;
	font-weight: bold;
}

.b1{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 20px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
	overflow: hidden;
}
.b1:hover, .close:hover {
	cursor: pointer;
}
.close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 22px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b1_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 300px;
	background: #E0FFFF;
	visibility: hidden;
}
.b1_list {
	float: left;
}
.b1_list input{
	margin: 30px 5px 0px 30px;
}
.b1_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}
.bt {
	margin: 170px 50px 5px;
}

.b2{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 20px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
	overflow: hidden;
}
.b2:hover, .close:hover {
	cursor: pointer;
}
.b2_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 300px;
	background: #E0FFFF;
	visibility: hidden;
}
.b2_list {
	float: left;
}
.b2_list input{
	margin: 30px 5px 0px 30px;
}
.b2_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b3{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 20px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
	overflow: hidden;
}
.b3:hover, .close:hover {
	cursor: pointer;
}
.b3_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 300px;
	background: #E0FFFF;
	visibility: hidden;
}
.b3_list {
	float: left;
}
.b3_list input{
	margin: 30px 5px 0px 30px;
}
.b3_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b4{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b5{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b6{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b7{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b8{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b9{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b10{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b11{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}
.b12{
	display:inline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
font-weight: bold;
box-sizing: border-box;
outline: 0;
text-decoration: none;
font-size: 20px;
padding: 0px 10px;
text-align: left;

line-height: 1;
color: #20acd5;
}

