html {background:white;}
h1 {text-align: center; margin-top: 30px; font-size: 80px; font-weight: bold;}
.line {height: 0px; margin: 0 auto; padding-bottom: 40px; border-bottom: 1px solid #e4e4e4;}

.s_category {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	line-height: 0;
	color: #333;
	box-sizing: border-box;
	border-bottom: 1px solid #e4e4e4;
	padding: 25px 0;
	width: 1280px;
	margin: 0 auto
}
.s_category_tit {
	display:inline;
	font-size: 30px;
	padding: 0px 30px;
	font-weight: bold;
}

.b1{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b1:hover, .b1close:hover {
	cursor: pointer;
}
.b1close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b1_board{
	display: none;
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 70px;
	background: #E0FFFF;
}
.b1_list {
	text-align: left;
}
.b1_list input{
	margin: 30px 5px 0px 30px;
}
.b1_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b2{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b2:hover, .b2close:hover {
	cursor: pointer;
}
.b2close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b2_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b2_list {
	text-align: left;
}
.b2_list input{
	margin: 30px 5px 0px 30px;
}
.b2_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b3{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b3:hover, .b3close:hover {
	cursor: pointer;
}
.b3close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b3_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 70px;
	background: #E0FFFF;
	display: none;
}
.b3_list {
	text-align: left;
}
.b3_list input{
	margin: 30px 5px 0px 30px;
}
.b3_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b4{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b4:hover, .b4close:hover {
	cursor: pointer;
}
.b4close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b4_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 70px;
	background: #E0FFFF;
	display: none;
}
.b4_list {
	text-align: left;
}
.b4_list input{
	margin: 30px 5px 0px 30px;
}
.b4_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b5{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b5:hover, .b5close:hover {
	cursor: pointer;
}
.b5close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b5_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 180px;
	background: #E0FFFF;
	display: none;
}
.b5_list {
	text-align: left;
}
.b5_list input{
	margin: 30px 5px 0px 30px;
}
.b5_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b6{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b6:hover, .b6close:hover {
	cursor: pointer;
}
.b6close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b6_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 300px;
	background: #E0FFFF;
	display: none;
}
.b6_list {
	text-align: left;
}
.b6_list input{
	margin: 30px 5px 0px 30px;
}
.b6_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b7{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b7:hover, .b7close:hover {
	cursor: pointer;
}
.b7close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b7_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b7_list {
	text-align: left;
}
.b7_list input{
	margin: 30px 5px 0px 30px;
}
.b7_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b8{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b8:hover, .b8close:hover {
	cursor: pointer;
}
.b8close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b8_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b8_list {
	text-align: left;
}
.b8_list input{
	margin: 30px 5px 0px 30px;
}
.b8_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b9{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b9:hover, .b9close:hover {
	cursor: pointer;
}
.b9close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b9_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b9_list {
	text-align: left;
}
.b9_list input{
	margin: 30px 5px 0px 30px;
}
.b9_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b10{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b10:hover, .b10close:hover {
	cursor: pointer;
}
.b10close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b10_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 220px;
	background: #E0FFFF;
	display: none;
}
.b10_list {
	text-align: left;
}
.b10_list input{
	margin: 30px 5px 0px 30px;
}
.b10_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b11{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b11:hover, .b11close:hover {
	cursor: pointer;
}
.b11close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b11_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b11_list {
	text-align: left;
}
.b11_list input{
	margin: 30px 5px 0px 30px;
}
.b11_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b12{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b12:hover, .b12close:hover {
	cursor: pointer;
}
.b12close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b12_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 120px;
	background: #E0FFFF;
	display: none;
}
.b12_list {
	text-align: left;
}
.b12_list input{
	margin: 30px 5px 0px 30px;
}
.b12_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b13{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b13:hover, .b13close:hover {
	cursor: pointer;
}
.b13close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b13_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 540px;
	background: #E0FFFF;
	display: none;
}
.b13_list {
	text-align: left;
}
.b13_list input{
	margin: 30px 5px 0px 30px;
}
.b13_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b14{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b14:hover, .b14close:hover {
	cursor: pointer;
}
.b14close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b14_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 440px;
	background: #E0FFFF;
	display: none;
}
.b14_list {
	text-align: left;
}
.b14_list input{
	margin: 30px 5px 0px 30px;
}
.b14_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.b15{
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: #20acd5;
}
.b15:hover, .b15close:hover {
	cursor: pointer;
}
.b15close {
	display: inline;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 10px;
	text-align: left;
	line-height: 1;
	color: blue;
  }
.b15_board{
	font-family: '돋움';
	font-size: 13px;
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 440px;
	background: #E0FFFF;
	display: none;
}
.b15_list {
	text-align: left;
}
.b15_list input{
	margin: 30px 5px 0px 30px;
}
.b15_list input:hover {
	text-decoration:underline;
	cursor:pointer;
}

.bt {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.bt button {
	background-color: #E0FFFF;
	border-radius: 5px;
	font-size: 20px;
	border: 1.5px solid;
}

.project-card {
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;
	display: none;
}

.c1 {
	width: 300px;
	height: 400px;
	border-radius: 25px;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
	box-shadow: 5px 5px 20px;
	transition: all 0.1s;
	margin: auto;
	display: inline-block;
	margin-right: 60px;
  }
  .c1:hover {
	width: 320px;
	height: 420px;
	display: inline-block;
	cursor: pointer;
  }
  .c1-project-img {
	width: 100%;
	height: 80%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA3MDFfMzIg%2FMDAxNTMwNDA5Mjc5NTQz.-WvL5ANNCu71IwdHfaH2TERh0UwTs1nRpVOTt8UhMjwg.H9KS4-O2x1bX-_sauQQ-yTbjsoOCqG1QFLyvpvi8Qckg.JPEG.nias0823%2F%25BF%25B9%25BB%25DB_%25B0%25ED%25BE%25E7%25C0%25CC.JPG&type=sc960_832");
	background-size: cover;
  }
  .c1-project-explain {
	width: 96%;
	height: 20%;
	margin: auto;
	display: absolute;
	z-index: 2;
  }
  .c1-project-btn button{
	background-color: #E0FFFF;
	border-radius: 5px;
	font-size: 15px;
	border: 0.5px solid;
  }

  .c2 {
	width: 300px;
	height: 400px;
	border-radius: 25px;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
	box-shadow: 5px 5px 20px;
	transition: all 0.1s;
	margin: auto;
	display: inline-block;
	margin-right: 60px;
  }
  .c2:hover {
	width: 320px;
	height: 420px;
	display: inline-block;
	cursor: pointer;
  }
  .c2-project-img {
	width: 100%;
	height: 80%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA3MDFfMzIg%2FMDAxNTMwNDA5Mjc5NTQz.-WvL5ANNCu71IwdHfaH2TERh0UwTs1nRpVOTt8UhMjwg.H9KS4-O2x1bX-_sauQQ-yTbjsoOCqG1QFLyvpvi8Qckg.JPEG.nias0823%2F%25BF%25B9%25BB%25DB_%25B0%25ED%25BE%25E7%25C0%25CC.JPG&type=sc960_832");
	background-size: cover;
  }
  .c2-project-explain {
	width: 96%;
	height: 20%;
	margin: auto;
	display: absolute;
	z-index: 2;
  }
  .c2-project-btn button{
	background-color: #E0FFFF;
	border-radius: 5px;
	font-size: 15px;
	border: 0.5px solid;
  }

  .c3 {
	width: 300px;
	height: 400px;
	border-radius: 25px;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
	box-shadow: 5px 5px 20px;
	transition: all 0.1s;
	margin: auto;
	display: inline-block;
	margin-right: 60px;
  }
  .c3:hover {
	width: 320px;
	height: 420px;
	display: inline-block;
	cursor: pointer;
  }
  .c3-project-img {
	width: 100%;
	height: 80%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA3MDFfMzIg%2FMDAxNTMwNDA5Mjc5NTQz.-WvL5ANNCu71IwdHfaH2TERh0UwTs1nRpVOTt8UhMjwg.H9KS4-O2x1bX-_sauQQ-yTbjsoOCqG1QFLyvpvi8Qckg.JPEG.nias0823%2F%25BF%25B9%25BB%25DB_%25B0%25ED%25BE%25E7%25C0%25CC.JPG&type=sc960_832");
	background-size: cover;
  }
  .c3-project-explain {
	width: 96%;
	height: 20%;
	margin: auto;
	display: absolute;
	z-index: 2;
  }
  .c3-project-btn button{
	background-color: #E0FFFF;
	border-radius: 5px;
	font-size: 15px;
	border: 0.5px solid;
  }
