<!DOCTYPE html>
<html>
<head>
	<title>index.html</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="path/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/cs.css">
</head>

<!-- ajax 관련 코드 (by.세일) 건들지 말 것  -->
<script>
	$(document).ready(function(){
        $('#orders-box').html('');
        listing();
      });

      function listing() {
        $.ajax({
          type: "GET",
          url: "/",
          data: {},
          success: function(response){
             if (response['result'] == 'success') {
               let orders = response['orders'];
               console.log(orders);
               for (let i = 0; i < orders.length; i++) {
                 make_card(orders[i]['name'],orders[i]['count'],orders[i]['address'],orders[i]['phone'])
               }
             } else {
               alert('기사를 받아오지 못했습니다');
             }
          }
        })
      }

     
</script>

<body>
	<h1>오늘 뭐 먹지?</h1>
	<form>
		<div class="search">
			<input type="search" placeholder="ex.">
			<button type="submit" value="submit">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</form>
	<div class="line"></div>
	<form>
		<div class="check">
			<input type="checkbox" name="ingredient" value="pork">돼지고기
			<input type="checkbox" name="ingredient" value="carrot">당근
			<input type="checkbox" name="ingredient" value="onion">양파
			<input type="checkbox" name="ingredient" value="greenonoion">대파
		</div>
	</form>
</body>
</html>

