<!DOCTYPE html>
<html>
<head>
	<title>index.html</title>
	<link rel="stylesheet" type="text/css" href="../static/css/cs.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cs.css') }}">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>

<body>
	<script type="text/javascript" src="../static/js/index.js"></script>
	
	<h1>오늘 뭐 먹지?</h1>
	<div class="line"></div>

	<form>
		<div class="s_category">
			<span class="s_category_tit">Category All</span>
			<span class="b1">알류</span>
			<span class="b2">유제품</span>
			<span class="b3">유지류</span>
			<span class="b4">견과류</span>
			<span class="b5">과일류</span>
			<span class="b6">육류</span>
			<span class="b7">콩류</span>
			<span class="b8">곡류</span>
			<span class="b9">해조류</span>
			<span class="b10">어패류</span>
			<span class="b11">버섯류</span>
			<span class="b12">채소류</span>
		</div>
		<div class="b1_board">
			<div class="b1_list" id="b1">
				<input type="checkbox" name="b1_list" value="1">재료1
				<input type="checkbox" name="b1_list" value="2">재료2
				<input type="checkbox" name="b1_list" value="3">재료3
				<input type="checkbox" name="b1_list" value="4">재료4
			</div>
		</div>
		<div class="b2_board">
			<div class="b2_list">
				<input type="checkbox" name="b2_list" value="1">2재료1
				<input type="checkbox" name="b2_list" value="2">2재료2
				<input type="checkbox" name="b2_list" value="3">재료3
				<input type="checkbox" name="b2_list" value="4">재료4
				<input type="checkbox" name="b2_list" value="5">재료5
				<input type="checkbox" name="b2_list" value="6">재료6
				<input type="checkbox" name="b2_list" value="7">재료7
				<input type="checkbox" name="b2_list" value="8">재료8
				<input type="checkbox" name="b2_list" value="9">재료9
				<input type="checkbox" name="b2_list" value="10">재료10
			</div>
			<div class="b2_list">
				<input type="checkbox" name="b2_list" value="11">재료11
				<input type="checkbox" name="b2_list" value="12">재료12
				<input type="checkbox" name="b2_list" value="13">재료13
				<input type="checkbox" name="b2_list" value="14">재료14
				<input type="checkbox" name="b2_list" value="15">재료15
				<input type="checkbox" name="b2_list" value="16">재료16
			</div>
		</div>
		<div class="b3_board">
			<div class="b3_list" id="b3">
				<!-- <input type="checkbox" name="b3_list" value="1">3재료1
				<input type="checkbox" name="b3_list" value="2">3재료2 -->
			</div>
		</div>
		<div class="b4_board">
			<div class="b4_list">
				<input type="checkbox" name="b4_list" value="1">4재료1
				<input type="checkbox" name="b4_list" value="2">4재료2
				<input type="checkbox" name="b4_list" value="3">재료3
				<input type="checkbox" name="b4_list" value="4">재료4
				<input type="checkbox" name="b4_list" value="5">재료5
				<input type="checkbox" name="b4_list" value="6">재료6
				<input type="checkbox" name="b4_list" value="7">재료7
				<input type="checkbox" name="b4_list" value="8">재료8
				<input type="checkbox" name="b4_list" value="9">재료9
				<input type="checkbox" name="b4_list" value="10">재료10
			</div>
			<div class="b4_list">
				<input type="checkbox" name="b4_list" value="11">재료11
				<input type="checkbox" name="b4_list" value="12">재료12
				<input type="checkbox" name="b4_list" value="13">재료13
			</div>
		</div>
		<div class="b5_board">
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="1">5재료1
				<input type="checkbox" name="b5_list" value="2">5재료2
				<input type="checkbox" name="b5_list" value="3">재료3
				<input type="checkbox" name="b5_list" value="4">재료4
				<input type="checkbox" name="b5_list" value="5">재료5
				<input type="checkbox" name="b5_list" value="6">재료6
				<input type="checkbox" name="b5_list" value="7">재료7
				<input type="checkbox" name="b5_list" value="8">재료8
				<input type="checkbox" name="b5_list" value="9">재료9
				<input type="checkbox" name="b5_list" value="10">재료10
			</div>
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="11">재료11
				<input type="checkbox" name="b5_list" value="12">재료12
				<input type="checkbox" name="b5_list" value="13">재료13
				<input type="checkbox" name="b5_list" value="14">재료14
				<input type="checkbox" name="b5_list" value="15">재료15
				<input type="checkbox" name="b5_list" value="16">재료16
				<input type="checkbox" name="b5_list" value="17">재료17
				<input type="checkbox" name="b5_list" value="18">재료18
				<input type="checkbox" name="b5_list" value="19">재료19
				<input type="checkbox" name="b5_list" value="20">재료20
			</div>
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="21">재료11
				<input type="checkbox" name="b5_list" value="22">재료12
				<input type="checkbox" name="b5_list" value="23">재료13
				<input type="checkbox" name="b5_list" value="24">재료14
				<input type="checkbox" name="b5_list" value="25">재료15
				<input type="checkbox" name="b5_list" value="26">재료16
				<input type="checkbox" name="b5_list" value="27">재료17
				<input type="checkbox" name="b5_list" value="28">재료18
				<input type="checkbox" name="b5_list" value="29">재료19
				<input type="checkbox" name="b5_list" value="30">재료20
			</div>
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="31">재료11
				<input type="checkbox" name="b5_list" value="32">재료12
				<input type="checkbox" name="b5_list" value="33">재료13
				<input type="checkbox" name="b5_list" value="34">재료14
				<input type="checkbox" name="b5_list" value="35">재료15
				<input type="checkbox" name="b5_list" value="36">재료16
				<input type="checkbox" name="b5_list" value="37">재료17
				<input type="checkbox" name="b5_list" value="38">재료18
				<input type="checkbox" name="b5_list" value="39">재료19
				<input type="checkbox" name="b5_list" value="40">재료20
			</div>
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="41">재료11
				<input type="checkbox" name="b5_list" value="42">재료12
				<input type="checkbox" name="b5_list" value="43">재료13
				<input type="checkbox" name="b5_list" value="44">재료14
				<input type="checkbox" name="b5_list" value="45">재료15
				<input type="checkbox" name="b5_list" value="46">재료16
				<input type="checkbox" name="b5_list" value="47">재료17
				<input type="checkbox" name="b5_list" value="48">재료18
				<input type="checkbox" name="b5_list" value="49">재료19
				<input type="checkbox" name="b5_list" value="50">재료20
			</div>
			<div class="b5_list">
				<input type="checkbox" name="b5_list" value="51">재료11
				<input type="checkbox" name="b5_list" value="52">재료12
				<input type="checkbox" name="b5_list" value="53">재료13
			</div>
		</div>
		<div class="b6_board">
			<div class="b6_list">
				<input type="checkbox" name="b6_list" value="1">6재료1
				<input type="checkbox" name="b6_list" value="2">6재료2
				<input type="checkbox" name="b6_list" value="3">재료3
				<input type="checkbox" name="b6_list" value="4">재료4
				<input type="checkbox" name="b6_list" value="5">재료5
				<input type="checkbox" name="b6_list" value="6">재료6
				<input type="checkbox" name="b6_list" value="7">재료7
				<input type="checkbox" name="b6_list" value="8">재료8
				<input type="checkbox" name="b6_list" value="9">재료9
				<input type="checkbox" name="b6_list" value="10">재료10
			</div>
			<div class="b6_list">
				<input type="checkbox" name="b6_list" value="11">재료11
				<input type="checkbox" name="b6_list" value="12">재료12
			</div>
		</div>
		<div class="b7_board">
			<div class="b7_list">
				<input type="checkbox" name="b7_list" value="1">7재료1
				<input type="checkbox" name="b7_list" value="2">7재료2
				<input type="checkbox" name="b7_list" value="3">재료3
				<input type="checkbox" name="b7_list" value="4">재료4
				<input type="checkbox" name="b7_list" value="5">재료5
				<input type="checkbox" name="b7_list" value="6">재료6
				<input type="checkbox" name="b7_list" value="7">재료7
			</div>
		</div>
		<div class="b8_board">
			<div class="b8_list">
				<input type="checkbox" name="b8_list" value="1">8재료1
				<input type="checkbox" name="b8_list" value="2">8재료2
				<input type="checkbox" name="b8_list" value="3">재료3
				<input type="checkbox" name="b8_list" value="4">재료4
				<input type="checkbox" name="b8_list" value="5">재료5
				<input type="checkbox" name="b8_list" value="6">재료6
				<input type="checkbox" name="b8_list" value="7">재료7
				<input type="checkbox" name="b8_list" value="8">재료8
				<input type="checkbox" name="b8_list" value="9">재료9
				<input type="checkbox" name="b8_list" value="10">재료10
			</div>
			<div class="b8_list">
				<input type="checkbox" name="b8_list" value="11">재료11
				<input type="checkbox" name="b8_list" value="12">재료12
			</div>
		</div>
		<div class="b9_board">
			<div class="b9_list">
				<input type="checkbox" name="b9_list" value="1">9재료1
				<input type="checkbox" name="b9_list" value="2">9재료2
				<input type="checkbox" name="b9_list" value="3">재료3
				<input type="checkbox" name="b9_list" value="4">재료4
				<input type="checkbox" name="b9_list" value="5">재료5
				<input type="checkbox" name="b9_list" value="6">재료6
			</div>
		</div>
		<div class="b10_board">
			<div class="b10_list">
				<input type="checkbox" name="b10_list" value="1">10재료1
				<input type="checkbox" name="b10_list" value="2">10재료2
				<input type="checkbox" name="b10_list" value="3">재료3
				<input type="checkbox" name="b10_list" value="4">재료4
				<input type="checkbox" name="b10_list" value="5">재료5
				<input type="checkbox" name="b10_list" value="6">재료6
				<input type="checkbox" name="b10_list" value="7">재료7
				<input type="checkbox" name="b10_list" value="8">재료8
				<input type="checkbox" name="b10_list" value="9">재료9
				<input type="checkbox" name="b10_list" value="10">재료10
			</div>
			<div class="b10_list">
				<input type="checkbox" name="b10_list" value="11">재료11
				<input type="checkbox" name="b10_list" value="12">재료12
				<input type="checkbox" name="b10_list" value="13">재료13
				<input type="checkbox" name="b10_list" value="14">재료14
				<input type="checkbox" name="b10_list" value="15">재료15
				<input type="checkbox" name="b10_list" value="16">재료16
				<input type="checkbox" name="b10_list" value="17">재료17
				<input type="checkbox" name="b10_list" value="18">재료18
				<input type="checkbox" name="b10_list" value="19">재료19
				<input type="checkbox" name="b10_list" value="20">재료20
			</div>
			<div class="b10_list">
				<input type="checkbox" name="b10_list" value="21">재료11
				<input type="checkbox" name="b10_list" value="22">재료12
				<input type="checkbox" name="b10_list" value="23">재료13
				<input type="checkbox" name="b10_list" value="24">재료14
				<input type="checkbox" name="b10_list" value="25">재료15
				<input type="checkbox" name="b10_list" value="26">재료16
				<input type="checkbox" name="b10_list" value="27">재료17
				<input type="checkbox" name="b10_list" value="28">재료18
				<input type="checkbox" name="b10_list" value="29">재료19
				<input type="checkbox" name="b10_list" value="30">재료20wwew
			</div>
			<div class="b10_list">
				<input type="checkbox" name="b10_list" value="31">재료11
			</div>
		</div>
		<div class="b11_board">
			<div class="b11_list">
				<input type="checkbox" name="b11_list" value="1">11재료1
				<input type="checkbox" name="b11_list" value="2">11재료2
				<input type="checkbox" name="b11_list" value="3">재료3
				<input type="checkbox" name="b11_list" value="4">재료4
				<input type="checkbox" name="b11_list" value="5">재료5
				<input type="checkbox" name="b11_list" value="6">재료6
			</div>
		</div>
		<div class="b12_board">
			<div class="b12_list">
				<input type="checkbox" name="b12_list" value="1">12재료1
				<input type="checkbox" name="b12_list" value="2">12재료2
				<input type="checkbox" name="b12_list" value="3">재료3
				<input type="checkbox" name="b12_list" value="4">재료4
				<input type="checkbox" name="b12_list" value="5">재료5
				<input type="checkbox" name="b12_list" value="6">재료6
				<input type="checkbox" name="b12_list" value="7">재료7
				<input type="checkbox" name="b12_list" value="8">재료8
				<input type="checkbox" name="b12_list" value="9">재료9
				<input type="checkbox" name="b12_list" value="10">재료10
			</div>
			<div class="b12_list">
				<input type="checkbox" name="b12_list" value="11">재료11
				<input type="checkbox" name="b12_list" value="12">재료12
				<input type="checkbox" name="b12_list" value="13">재료13
				<input type="checkbox" name="b12_list" value="14">재료14
				<input type="checkbox" name="b12_list" value="15">재료15
				<input type="checkbox" name="b12_list" value="16">재료16
				<input type="checkbox" name="b12_list" value="17">재료17
				<input type="checkbox" name="b12_list" value="18">재료18
				<input type="checkbox" name="b12_list" value="19">재료19
				<input type="checkbox" name="b12_list" value="20">재료20
			</div>
			<div class="b12_list">
				<input type="checkbox" name="b12_list" value="21">재료11
				<input type="checkbox" name="b12_list" value="22">재료12
				<input type="checkbox" name="b12_list" value="23">재료13
				<input type="checkbox" name="b12_list" value="24">재료14
				<input type="checkbox" name="b12_list" value="25">재료15
				<input type="checkbox" name="b12_list" value="26">재료16
				<input type="checkbox" name="b12_list" value="27">재료17
				<input type="checkbox" name="b12_list" value="28">재료18
				<input type="checkbox" name="b12_list" value="29">재료19
				<input type="checkbox" name="b12_list" value="30">재료20
			</div>
			<div class="b12_list">
				<input type="checkbox" name="b12_list" value="31">재료11
				<input type="checkbox" name="b12_list" value="32">재료12
				<input type="checkbox" name="b12_list" value="33">재료13
				<input type="checkbox" name="b12_list" value="34">재료14
				<input type="checkbox" name="b12_list" value="35">재료15
				<input type="checkbox" name="b12_list" value="36">재료16
				<input type="checkbox" name="b12_list" value="37">재료17
			</div>
		</div>
		
	</form>
	
	<div class="project-card">
		<div class="c1">
			<div class="c1-project-img" id="food"></div>
			<div class="c1-project-explain">
				<p>1냐옹!</p>
				<div class="c1-project-btn">
					<button type="button" onclick="location.href='http://google.com' ">선택하기</button>
				</div>
			</div>
		</div>
		<div class="c2">
			<div class="c2-project-img" id="food"></div>
			<div class="c2-project-explain">
				<p>2냐옹!</p>
				<div class="c2-project-btn">
					<button type="button" onclick="location.href='http://google.com' ">선택하기</button>
				</div>
			</div>
		</div>
		<div class="c3">
			<div class="c3-project-img" id="food"></div>
			<div class="c3-project-explain">
				<p>3냐옹!</p>
				<div class="c3-project-btn">
					<button type="button" onclick="location.href='http://google.com' ">선택하기</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="bt">
		<button>제출하기</button>
	</div>
	
	
	<script>
		$(document).ready(function(){
			$('.b1').toggle(function(){
					$('.b1').addClass('b1close').removeClass('b1');
					$('.b1_board').css('display', 'block');
					catListing(알류)},
					function(){
					$('.b1close').addClass('b1').removeClass('b1close');  
					$('.b1_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b2').toggle(function(){
					$('.b2').addClass('b2close').removeClass('b2');
					$('.b2_board').css('display', 'block');},
					function(){
					$('.b2close').addClass('b2').removeClass('b2close');  
					$('.b2_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b3').toggle(function(){
					$('.b3').addClass('b3close').removeClass('b3');
					$('.b3_board').css('display', 'block');},
					function(){
					$('.b3close').addClass('b3').removeClass('b3close');  
					$('.b3_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b4').toggle(function(){
					$('.b4').addClass('b4close').removeClass('b4');
					$('.b4_board').css('display', 'block');},
					function(){
					$('.b4close').addClass('b4').removeClass('b4close');  
					$('.b4_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b5').toggle(function(){
					$('.b5').addClass('b5close').removeClass('b5');
					$('.b5_board').css('display', 'block');},
					function(){
					$('.b5close').addClass('b5').removeClass('b5close');  
					$('.b5_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b6').toggle(function(){
					$('.b6').addClass('b6close').removeClass('b6');
					$('.b6_board').css('display', 'block');},
					function(){
					$('.b6close').addClass('b6').removeClass('b6close');  
					$('.b6_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b7').toggle(function(){
					$('.b7').addClass('b7close').removeClass('b7');
					$('.b7_board').css('display', 'block');},
					function(){
					$('.b7close').addClass('b7').removeClass('b7close');  
					$('.b7_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b8').toggle(function(){
					$('.b8').addClass('b8close').removeClass('b8');
					$('.b8_board').css('display', 'block');},
					function(){
					$('.b8close').addClass('b8').removeClass('b8close');  
					$('.b8_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b9').toggle(function(){
					$('.b9').addClass('b9close').removeClass('b9');
					$('.b9_board').css('display', 'block');},
					function(){
					$('.b9close').addClass('b9').removeClass('b9close');  
					$('.b9_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b10').toggle(function(){
					$('.b10').addClass('b10close').removeClass('b10');
					$('.b10_board').css('display', 'block');},
					function(){
					$('.b10close').addClass('b10').removeClass('b10close');  
					$('.b10_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b11').toggle(function(){
					$('.b11').addClass('b11close').removeClass('b11');
					$('.b11_board').css('display', 'block');},
					function(){
					$('.b11close').addClass('b11').removeClass('b11close');  
					$('.b11_board').css('display', 'none');
				});
		});
		$(document).ready(function(){
			$('.b12').toggle(function(){
					$('.b12').addClass('b12close').removeClass('b12');
					$('.b12_board').css('display', 'block');},
					function(){
					$('.b12close').addClass('b12').removeClass('b12close');  
					$('.b12_board').css('display', 'none');
				});
		});

		$(document).ready(function(){
			$('.bt button').toggle(function(){
				$('.project-card').css('display', 'block');
				$('.bt button').text('다시하기');},
				function(){ 
				$('.project-card').css('display', 'none');
				$('.bt button').text('제출하기');});
		});

		
	</script>
</body>
</html>